[flake8]
exclude = .git,.tox,__pycache__,.eggs,build
max-line-length = 180
ignore =
    E265,  # E265 block comment should start with '# '
    E266,  # E266 too many leading '#' for block comment
doctests = true
